.Conteudo{
    text-align: center;
    font-size: 1.5vw;
    color:rgb(30, 33, 77);
}

.FormServico{
    text-align: center;
    font-size: 1vw;
    width: 60%;
    margin:20%;
    border: 1px solid  black;
}

.FormServico input{
    margin-bottom: 2%;
    font-size: 1vw;
}