.ModalServico{
    width: 55vw;
    height: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    color:rgb(1, 37, 73);
    padding: 5%;
}

.ModalServico h3{
    text-transform: capitalize;
    margin-bottom: 5%;
    margin-top: 0;
    font-size: 1.4vw;
    text-align: center;
}

.ModalServico h4{
    font-size: 1.2vw;
}

.ModalServico p{
    font-size: 0.9vw;
}

.ModalServico button{
    border: none;
    background-color:rgb(1, 37, 73);
    color: white;
    padding: 2%;
    font-size: 1vw;
    border-radius: 0.3rem;
    width: 20%;
    margin-right: 2%;
    margin-left: 2%;
    cursor: pointer;
}

.ModalServico button:hover{
    background-color: rgba(1, 37, 73, 0.9) ;
}